/* blog */
.blog {
    background: #f1f1e1;
}

.blog-content {
    overflow: hidden;
}

.blog-item {
    width: 30%;
    float: left;
    background-color: #fff;
}

.blog-item.mg {
    margin: 0 5%;
}

.blog-item-image img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-list {
    list-style: none;
    margin: 10px 0;
}

.blog-list li {
    display: inline-block;
    margin: 0 5px;
}

.blog-list li i {
    color: #6195ff;
}

.blog-title {
    font-weight: bold;
    margin: 20px 0;
}

.blog-disc {
    color: #999;
    line-height: 1.5;
    margin-bottom: 10px;
}

.blog-link {
    color: #6195ff;
}
